@(configs: Seq[models.ImportConfig])

<div id="config-list">
  <table class="data">
    <thead>
      <tr><th>ID</th><th>Name</th><th>Query</th><th>ID columns</th><th>Last generated</th><th>Last status</th><th>&nbsp;</th></tr>
    </thead>
    <tbody>
      @configs.map { config =>
      <tr id="row_@config.id"><td>@config.id</td><td>@config.name</td><td>@config.query</td><td>@(config.idColumns.mkString(", "))</td><td>-</td><td>-</td><td><a href="#" title="Download"><img style="width: 24px" src="@routes.Assets.at("images/floppy.png")"></img></a><a href="#" id="editconfig" title="Edit"><img style="width: 24px" src="@routes.Assets.at("images/pencil.png")"></img></a><a href="#" id="deleteconfig" title="Delete"><img style="width: 24px" src="@routes.Assets.at("images/trash.png")"></img></a></td></tr>
      }
    </tbody>
  </table>
</div>
